@tailwind base;
@tailwind components;
@tailwind utilities;
section {
  min-width: 300px;
  width: 100%;
  max-width: 850px;
}
.header {
  background-color: black;
  text-align: center;
  color: #c6f6d5;
  position: fixed;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 900px;

}

.triangle-left {
  position: relative;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #c6f6d5;
  transform: translateX(1px) translateY(10px);
}
.triangle-right {
  position: relative;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid rgb(229, 231, 235);
  transform: translateX(-1px) translateY(10px);
}

.chat-box {
  overflow: auto;
  max-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  overflow-anchor: auto !important;
  vertical-align: top;
}
.chat-message {
  display: flex;
  margin: 10px 0 10px 0;
}

.scroller .scroller-content .chat-message {
  transform: translateZ(0);
  /* fixes a bug in Safari iOS where the scroller doesn't update */
}
